.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: "GreatVibes";
}

.sub-title {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Tangerine";
}

/* Modal */
.modal-window {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  position: fixed;
  align-items: center;
  transition: all 0.3s;
  justify-content: center;
  background-color: black;
}

.modal-container {
  padding: 0% 3%;
  max-width: 90%;
  min-width: 70%;
  border-radius: 8px;
  background-color: white;
}

.modal-header {
  display: flex;
  padding: 3% 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-header-title {
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, .85);
}

.modal-button {
  padding: 0 8px
}

/* For mobile phones: */
.desktop-only {
  display: none !important;
}

.mobile-only {
  display: flex !important;
}

[class*="my-col"] {
  display: flex;
  flex-direction: column;
}

[class*="col-"] {
  width: 100%;
}

.row {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .desktop-only {
    display: flex !important;
  }

  .mobile-only {
    display: none !important;
  }

  .sub-title {
    font-size: 3.5rem;
  }

  .title {
    font-size: 4rem;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  /* modal */
  .modal-header-title {
    font-size: 1.5rem;
  }

  .modal-button {
    padding: 6px 12px
  }
}