@font-face {
  font-family: 'AmsterdamFour';
  src: local('AmsterdamFour'), url(./assets/fonts/amsterdam-four-ttf.ttf) format('truetype');
}

@font-face {
  font-family: 'GreatVibes';
  src: local('GreatVibes'), url(./assets/fonts/GreatVibes-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Tangerine';
  src: local('Tangerine'), url(./assets/fonts/Tangerine-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}